[submodule "debian"]
	path = debian
	url = git://thekelleys.org.uk/dnsmasq-debian.git
[submodule "submodules/dnsmasq-debian"]
	path = submodules/dnsmasq-debian
	url = https://github.com/mithro/dnsmasq.git
	branch = dnsmasq-debian/mithro/welland
